name: Main

on:
  workflow_dispatch:
  push:
    tags:
      - v1.**
      - v2.**
      - v3.**
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Git account
        run: |
          git config --global user.email "dalisoft.dev@gmail.com"
          git config --global user.name "Davlatjon Shavkatov"
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install pip dependencies
        run: python3 -m pip install -r requirements.txt
      - name: Build
        run: sh build.sh
      - name: Release
        run: |
          git add -A hosts.txt rules.txt
          git commit -m "Update build files"
          git push "https://dalisoft:${{ secrets.SECRET_TOKEN }}@github.com/dalisoft/dns-helper" master
